<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo2.mapper.OrderMapper">
    <select id="getAllOrder" resultType="com.example.demo2.model.Order">
        SELECT * FROM public."order" ORDER BY id
    </select>
    <select id="getOrderById" resultType="com.example.demo2.model.Order">
        SELECT * FROM public."order" WHERE id = #{id} ORDER BY id
    </select>
    <insert id="addNewOrder" parameterType="com.example.demo2.model.Order">
        INSERT INTO public."order"("name", "quantity", "date_created")
        VALUES (#{name}, #{quantity}, #{date_created});
    </insert>
    <update id="updateExistingOrder" parameterType="com.example.demo2.model.Order">
        UPDATE public."order"
        <set>
            <if test="name != null">
                    name = #{name},
                </if>
            <if test="calories != 0">
                    calories = #{calories},
                </if>
            <if test="price != 0">
                    price = #{price},
                </if>
            <if test="currency != null">
                    currency = #{currency},
                </if>
            <if test="quantity != null">
                    quantity = #{quantity},
                </if>
        </set>
        WHERE
        id = #{id}
    </update>
    <delete id="deleteExistingOrder" parameterType="int">
        DELETE FROM public."order"
        WHERE id = #{id}
    </delete>
</mapper>